<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div id="page-wrapper">
  <section class="team">
    <!--<div class="container">-->
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-lg-12">
            <h6 class="description">OUR TEAM</h6>
            <div class="row pt-md">
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                <div class="img-box">
                   <%= image_tag "profile5.jpg", class:"img-responsive", :alt=>" ", :width=>"100%" %>
                 
                </div>
                <h1>김탁희</h1>
                <h2>멋사3기</h2>
                <p>좋은추억이었당.</p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                <div class="img-box">
                  <%= image_tag "profile2.jpg", class:"img-responsive", :alt=>" ", :width=>"100%" %>
                 
                </div>
                <h1>김하림</h1>
                <h2>멋사4기</h2>
                <p>저이렇게안까매요</p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                <div class="img-box">
                  <%= image_tag "profile3.jpg", class:"img-responsive", :alt=>" ", :width=>"100%" %>
                  
                </div>
                <h1>김희진</h1>
                <h2>멋사4기</h2>
                <p>흑흑 서버ㅠㅠ</p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                <div class="img-box">
                  <%= image_tag "profile7.jpg", class:"img-responsive", :alt=>" ", :width=>"100%" %>
                  
                </div>
                <h1>이승남</h1>
                <h2>멋사4기</h2>
                <p>모찌모찌해 ㅋㅋㅋ</p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                <div class="img-box">
                  <%= image_tag "profile4.jpg", class:"img-responsive", :alt=>" ", :width=>"100%" %>
                  
                </div>
                <h1>임소율</h1>
                <h2>멋사4기</h2>
                <p>각자 하고싶은 말!</p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                <div class="img-box">
                  <%= image_tag "profile1.jpg", class:"img-responsive", :alt=>" ", :width=>"100%" %>
                 
                </div>
                <h1>임원석</h1>
                <h2>멋사4기</h2>
                <p>죽을뻔했다</p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                <div class="img-box">
                  <%= image_tag "profile6.jpg", class:"img-responsive", :alt=>" ", :width=>"100%" %>
                </div>
                <h1>전고은</h1>
                <h2>멋사3기</h2>
                <p>각자 하고싶은 말!</p>
              </div>
              
            </div>
          </div>  
        </div>    
      </div>
    <!--</div>  -->
   </section>
</div>
<div style="text-color:white;">
   <br>
<% if current_user %>
  <%= link_to "로그아웃", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "로그인", new_user_session_path %>
<% end %>
</div>