<!--<div id="wrapper">-->
    <div id="page-wrapper">
       <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-primary" style="border-color:#fff;">
                        <%= image_tag "indexpost.png", class:"img-responsive",style:"width:100%;" %>
                        
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="panel"style="margin-top:10px; border-color:#fffff;">
                        <div class="panel-heading" style="border-color:#ffffff; background-color:#ffffff";>
                            <!--<div class="huge"><p style="font-size:2rem; text-align:center; color:white;">오늘의 공연</p></div>-->
                            <div class="huge"><%= image_tag "festival02.svg", class:"img-responsive" %></div>
                            
                            <!--<div>New Tasks!</div>-->
                        </div>
                        <a href="https://daehanbo-limgoodfam.c9users.io/performlist.html">
                            <div class="panel-footer">
                                <marquee>
                                    <span class="pull-left">대운동장 - 13:00 오비츄 13:25 말라뺀       13:50 하와                 14:15 VIVID A              14:40 615B     15:05 압정하나           15:30 내가 아재라니 15:55 VIVID B</span>
                                    </marquee>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                         <a href="https://daehanbo-limgoodfam.c9users.io/performlist.html">
                            <div class="panel-footer">
                               <marquee>
                                   <span class="pull-left">정문 - 13:25 리틀메탈돼지 13:50 새내기들의 폭발 무대 14:15 새내기면 뭐 어쩔거야 14:40 노래사위 15:05 카톡말고네이버밴드 15:30 FEVER         15:55 김치그루브</span>
                                   </marquee>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                         <a href="https://daehanbo-limgoodfam.c9users.io/performlist.html">
                            <div class="panel-footer">
                               <marquee> 
                               <span class="pull-left">백주년기념관 - 13:25 하리         13:50 대학생의 자격        14:15 MED                  14:40 RYU      15:05 설탕가루           15:30 MX5           15:55 팡팡댄스크루</span>
                               </marquee>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
              
            <!--</div>-->
            <!-- /.row -->

            <!--ㄴㄴㄴ
            <!-- /.row -->

            <!--<div class="row">-->
                
                <!--<div class="col-lg-6">-->
                <!--    <div class="panel panel-yellow">-->
                <!--        <div class="panel-heading">-->
                <!--            <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> 최다 추천 주점</h3>-->
                <!--        </div>-->
                <!--        <div class="panel-body">-->
                <!--            <div class="list-group">-->
                <!--                <a href="/publist" class="list-group-item">-->
                <!--                    <span class="badge">추천수:</span>-->
                <!--                    <i class="fa fa-fw fa-calendar"></i>교육대-->
                <!--                </a>-->
                <!--                <a href="/publist" class="list-group-item">-->
                <!--                    <span class="badge">추천수:</span>-->
                <!--                    <i class="fa fa-fw fa-comment"></i> 신학과-->
                <!--                </a>-->
                <!--                <a href="/publist" class="list-group-item">-->
                <!--                    <span class="badge">추천수:</span>-->
                <!--                    <i class="fa fa-fw fa-truck"></i> 심리학과-->
                <!--                </a>-->
                <!--                <a href="/publist" class="list-group-item">-->
                <!--                    <span class="badge">추천수:</span>-->
                <!--                    <i class="fa fa-fw fa-money"></i> RYU-->
                <!--                </a>-->
                <!--                <a href="/publist" class="list-group-item">-->
                <!--                    <span class="badge">추천수:</span>-->
                <!--                    <i class="fa fa-fw fa-user"></i> 사회학과-->
                <!--                </a>-->
                <!--                <a href="/publist" class="list-group-item">-->
                <!--                    <span class="badge">추천수:</span>-->
                <!--                    <i class="fa fa-fw fa-check"></i> 노어노문-->
                <!--                </a>-->
                <!--                <a href="/publist" class="list-group-item">-->
                <!--                    <span class="badge">추천수:</span>-->
                <!--                    <i class="fa fa-fw fa-globe"></i> 영어영문-->
                <!--                </a>-->
                <!--                <a href="/publist" class="list-group-item">-->
                <!--                    <span class="badge">추천수:</span>-->
                <!--                    <i class="fa fa-fw fa-check"></i> 의과대-->
                <!--                </a>-->
                <!--            </div>-->
                <!--            <div class="text-right">-->
                <!--                <a href="/publist">모든 주점 보기 <i class="fa fa-arrow-circle-right"></i></a>-->
                <!--            </div>-->
                <!--        </div>-->
                <!--    </div>-->
                <!--</div>-->
                <div class="col-lg-12 col-md-12">
                    <!--<div class="panel panel-yellow" style="color:#ffc952;"> -->
                    <div class="panel panel-yellow" style="color:#ffffff;">
                        <!--<div class="panel-heading" style="background-color:#ffc952;"> -->
                        <div class="panel-heading" style="background-color:#ffffff;">
                            <!--<p style="font-size:2rem; text-align:center; color:white;">축제게시판. 밑에꺼 지우지마게요</p>-->
                           <a href="/list" target="_blank"><%= image_tag "festival01.svg", class:"img-responsive" %></a>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <% @top_post.each do |p|%>
                                <a href="/update_view/<%= p.id%>" class="list-group-item">
                                    <span class="badge">
                                       <%=p.created_at.strftime("%b-%d %H:%M")%>
                                       </span>
                                      <div class="col-xs-2"><%= p.id %></div>
                                      <div>
                                      <%= p.title %>
                                      </div>
                                </a>
                                 <!--위에 것들 그리드로 나눌 예정 된다면 -->
                                <% end%> 
                            </div>
                            <div class="text-right">
                                <a href="/list">글보러가기 <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     <!--row 묶은거 -->
            <!--</div>-->
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->
            <!--<div class="col-lg-8">-->
            <!--    <p><a target="_blank" href="http://yonsei.likelion.net">멋쟁이사자처럼 at 연세대학교</a>.</p>-->
            <!--</div>-->
    </div>
    <!-- /#page-wrapper -->
<!--</div>-->
<!-- /#wrapper -->
