
<div class = "container"> 
    <div class="panel" style="margin-top:10px; border-color:#F7CAC9;">
        <div class="panel-heading" style="border-color:#F7CAC9; background-color:#F7CAC9">주점 소개</div>
        <div class="panel-body">          
            <div class="row">
                <div class="col-md-4">    
                    <div style="margin-left:60px;">
                       <img src="무미니.jpg" alt="..." class="img-thumbnail" id="single_2" style="height:250px; width:180px;">
                    </div>
                </div>
                <div class="col-md-8">
                    <br><br>
       <!-- LikeBtn.com BEGIN -->
                    <span class="likebtn-wrapper" data-theme="disk" data-i18n_like="이 주점 추천해요!" data-identifier=<%=@onepub.id%> data-dislike_enabled="false" data-icon_dislike_show="false" data-i18n_after_like="추천되었어요!" data-i18n_like_tooltip="추천하기!" data-i18n_unlike_tooltip="추천취소하기ㅠㅠ"></span>
                    <br></br>
                    <span class="label label-default" style="background-color:#D85956">주점이름</span> <%=@onepub.name%> <br>
                    <span class="label label-default" style="background-color:#D85956">시간</span> <%=@onepub.time%><br>
                    <span class="label label-default" style="background-color:#D85956">위치</span><%=@onepub.at%>번주점 <br>
                    <span class="label label-default" style="background-color:#D85956">주점소개</span><br>
                    <%=@onepub.intro%>
                    <br>
                    <div class = "list"> 
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          메뉴소개
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">순하리</a></li>
                            <li><a href="#">처음처럼</a></li>
                            <li><a href="#">자몽에이슬</a></li>
                          </ul>
                       </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
    <div class="panel" style="border-color:#F7CAC9;">
        <div class="panel-heading" style="border-color:#F7CAC9; background-color:#F7CAC9">댓글</div>
        <div class="panel-body" style="padding-left:30px; padding-right:30px">          
            <div class="row">
                <div class="list-group">
                    <% if @onepub.pubreplies.nil? %> 
                    <a href="#" class="list-group-item">
                        <i class="fa fa-fw fa-calendar">댓글이 없습니다. 관심가져주세요.</i>
                    </a>
                    <%end%>
                    <% @onepub.pubreplies.each do |r| %>
                    <a href="#" class="list-group-item">
                        <span class="badge">닉네임써줄거야</span>
                        <i class="fa fa-fw fa-calendar"><%=r.content%></i>
                    </a>
                    <% end %>
                </div>
                <div class="text-right">
                    <a href="#">댓글 더보기 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
                 <form class="form-inline" action="/reply_pub" method="POST">
                    <div class="container-fluid">
                       <div class="row">
                           <input type="hidden" value = "<%=@onepub.id%>" name = "pub_id"> 
                           <div class="form-group">
                             <label>닉네임</label>
                             <input name="nickname" type="text" class="form-control"  placeholder="이름">
                           </div>
                           <div class="form-group">
                             <label>내용</label>
                             <input name="content" type="text" class="form-control" id="exampleInputEmail2" placeholder="댓글 내용">
                           </div>
                           <button type="submit" class="btn btn-default">쓰기</button>
                        </div>
                     </div>
                </form>
            </div>
       </div>    
   </div>
</div> 
<!-- LikeBtn.com END -->

      <script>
          (function(d,e,s){
              if (typeof(LikeBtn) != "undefined"){
                LikeBtn.init();
                }
              if(d.getElementById("likebtn_wjs"))return;
                  a=d.createElement(e);
                  m=d.getElementsByTagName(e)[0];
                  a.async=1;
                  a.id="likebtn_wjs";
                  a.src=s;
                  m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");
      </script>
