<div id="page-wrapper">
    <div role="tappanel">
    <div id="tabs" class="tabs">
    <nav>
      <ul>
        <li><a href="#tabs-1" data-toggle="tab">19일</a></li>
        <li><a href="#tabs-2" data-toggle="tab">20일</a></li>
      </ul>
    </nav>
    <div class="content">
        <!--1919191919191919-->
        <section id="tabs-1">
                <% @pubs19.each do |p|
                        if p.id%3==1 %>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <span class="img-card">
                        <img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" /></span>
                        <div class="card-content">
                            <h4 class="card-title">
                                <%=p.name%>
                            </h4>
                            <p>
                                주점테마
                            </p>
                            <p>
                                <%=p.at%>
                            </p>
                        </div>
                        <div class="card-read-more">
                            <a href="/pubintro/<%=p.id%>"  class="btn btn-link btn-block" >주점 들리기</a>
                        </div>
                    </div>
                </div>
            <% elsif p.id%3==2 %>
                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <span class="img-card">
                        <img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" /></span>
                      </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                <%=p.name%>
                            </h4>
                            <p>
                                주점테마
                            </p>
                            <p>
                                <%=p.at%>
                            </p>
                        </div>
                        <div class="card-read-more">
                            <a href="/pubintro/<%=p.id%>"  class="btn btn-link btn-block" >주점 들리기</a>
                        </div>
                    </div>
                </div>
            <% else p.id%3 ==0 %>        
                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <span class="img-card">
                        <img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" /></span>
                      </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                <%=p.name%>
                            </h4>
                            <p>
                                주점테마
                            </p>
                            <p>
                                <%=p.at%>
                            </p>
                        </div>
                        <div class="card-read-more">
                            <a href="/pubintro/<%=p.id%>"  class="btn btn-link btn-block" >주점 들리기</a>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
            <% end %>
        </section>
        <!--2020202020202021020202020202020202020-->
        <section id="tabs-2">
                <% @pubs20.each do |p|
                        if p.id%3==1 %>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <span class="img-card">
                        <img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" /></span>
                        <div class="card-content">
                            <h4 class="card-title">
                                <%=p.name%>
                            </h4>
                            <p>
                                주점테마
                            </p>
                            <p>
                                <%=p.at%>
                            </p>
                        </div>
                        <div class="card-read-more">
                            <a href="/pubintro/<%=p.id%>"  class="btn btn-link btn-block" >주점 들리기</a>
                        </div>
                    </div>
                </div>
            <% elsif p.id%3==2 %>
                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <span class="img-card">
                        <img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" /></span>
                        <div class="card-content">
                            <h4 class="card-title">
                                <%=p.name%>
                            </h4>
                            <p>
                                주점테마
                            </p>
                            <p>
                                <%=p.at%>
                            </p>
                        </div>
                        <div class="card-read-more">
                            <a href="/pubintro" class="btn btn-link btn-block">
                                주점 들리기
                            </a>
                        </div>
                    </div>
                </div>
            <% else p.id%3 ==0 %>        
                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <span class="img-card">
                        <img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" /></span>
                        <div class="card-content">
                            <h4 class="card-title">
                                <%=p.name%>
                            </h4>
                            <p>
                                주점테마
                            </p>
                            <p>
                                <%=p.at%>
                            </p>
                        </div>
                        <div class="card-read-more">
                            <a href="/pubintro/<%=p.id%>"  class="btn btn-link btn-block" >주점 들리기</a>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
            <% end %>
        </section>
      <!--<div id="tabs-3"></div>-->
      </div>
    </div>
    </div>
</div>

<script>
	new CBPFWTabs( document.getElementById( 'tabs' ) );
</script>